body{
	width: 100%;
	color: #000;
	background: #000;
	margin:0px;
	overflow: hidden;
}
#container2{
	width: 100%;
	height: 100%;
}
#div1, #div2{
	width: 100%;
	height: 300px;
	padding: 0px;
	margin: 0px;
}
#div1{
	background-color: rgb(120,60,30);
}
#div2{
	background: rgb(15,30,60);
}
/*#infos{
	width: 120px;
	height: 25px;
	border:4px solid yellow;
	float: right;
	background: white;

}*/